[submodule "content/nextjs"]
	path = content/nextjs
	url = https://github.com/EverythingFromDayOne/nextjs-concepts.git
	ignore = none
[submodule "content/react"]
	path = content/react
	url = https://github.com/EverythingFromDayOne/react-concepts.git
	ignore = none
[submodule "content/angular"]
	path = content/angular
	url = https://github.com/EverythingFromDayOne/angular-concepts.git
	ignore = none
[submodule "content/nestjs"]
	path = content/nestjs
	url = https://github.com/EverythingFromDayOne/nestjs-concepts.git
	ignore = none
